body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
.loadScreen {
    background: white;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeout 0.2s 3s forwards;
}

.spinnerBig {
        position: absolute;
        width: 17rem;
        height: 17rem;
        border-radius: 50%;
        border: 3rem solid rgba(161, 160, 160, 0);
        border-top: 3rem solid #9356dc;
        border-left: 3rem solid #9356dc;
        border-bottom: 3rem solid #9356dc;
        animation: spinneroff 0.8s 0.2s 5;
    }
.spinner {
        border: 2rem solid rgba(161, 160, 160, 0);
        border-top: 2rem solid #ff79da;
        border-right: 2rem solid #ff79da;
        border-bottom: 2rem solid #ff79da;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        opacity: 1;
        animation: spinner 0.8s 0.2s 5;
        position: absolute;
    }
    .spinnerSmall {
        position: absolute;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        border: 1.5rem solid rgba(161, 160, 160, 0);
        border-top: 1.5rem solid #99e2d0;
        border-left: 1.5rem solid #99e2d0;
        border-bottom: 1.5rem solid #99e2d0;
        animation: spinneroff 0.8s 0.2s 5;
    }

.logo{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.localisation{
    display: flex;
    justify-content: center;
    background-color: #EAEAEA;
}
i.fas.fa-map-marker-alt{
    display: flex;
    align-items: center;
    margin: 15px;
}

section h1, section p{
    display: flex;
    justify-content: center;
}
.background p{
    padding-bottom: 50px;
}
h2{
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: black;
}
button.button {
    background:linear-gradient(#FF79DA,#AB7EE3);
    box-shadow: 0px 0px 10px 0px #00000066;
    border: #eee;
    color: white;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10px 30px;
    width: 270px;
    height: 50px;
    font-size: 1.1em;
}
button.button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px 0px #00000066;
    background: linear-gradient(#f397d9,#b291db);
}
.background{
    background-color: #f2f2f2;
    padding-top: 1px;
    padding-bottom: 20px;
}
nav{
    display: flex;
    justify-content: space-around;
}
.number{
    display: flex;
    justify-content: center;
    border: 1px solid #AB7EE3;
    color: white;
    background: #AB7EE3;
    border-radius: 50%;
    position: absolute;
    left: -15px;
    top: 20px;
    width: 20px;
    padding: 5px;
}

.choise{
    display: flex;
    position: relative;
}
.choise :hover {
    background-color: #e4d5f6;
}
.choix {
    display: flex;
    align-items: center;
    border: 1px solid #f6f6f6;
    border-radius: 20px;
    padding: 25px;
    background-color: #f6f6f6;
    width: 280px;
    height: 10px;
}
.menu {
    display: flex;
    align-items: center;
    border: 1px solid #f6f6f6;
    border-radius: 20px;
    padding: 25px;
    background-color: #f6f6f6;
    width: 280px;
    height: 10px;
}
.degustez {
    display: flex;
    align-items: center;
    border: 1px solid #f6f6f6;
    border-radius: 20px;
    padding: 25px;
    background-color: #f6f6f6;
    width: 280px;
    height: 10px;
}
nav i{
    margin: 10px;
}
section img{
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}
figure p{
    display: flex;
    justify-content: flex-start;
}

figure{
    width: 300px;
    border-radius: 20px;
    border: 1px solid #f2f2f2;
    box-shadow: 0px 0px 10px 0px #00000066;
    position: relative;
}
figcaption h3,figcaption p{
    margin-left: 5px;

}
figcaption h3{
    margin-bottom: 0px;
    margin-top: 5px;
}
figcaption p{
    margin-top: 5px;
}
figcaption{
    display: flex;
    justify-content: center;
    align-items: center;
}
a.bloc-link{
    flex: 1 25%;
}
.new{
    display: flex;
    position: absolute;
    padding: 5px;
    right: 15px;
    top: 5px;
    background-color: #99E2D0;
    color: #31947b;
    font-weight: bold;
}
.heart{
    margin-right: 15px;
}
i.far.fa-heart {
    font-size: x-large;
    display: flex;
    position: absolute;
}
.fullheart{
    display: flex;
}
i.fas.fa-heart {
    font-size: x-large;
    position: relative;
    color: transparent;
}
.fullheart :hover{
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    -webkit-background-clip: text;
    transition: transform 1.2s linear;
    transform: scale(1.2);
    animation: animheart 1s linear;
}

.resto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer{
    background-color: #353535;
    padding: 10px;
}
footer a{
    color: white;
    display: flex;
    align-items: center;
}
i.fas.fa-utensils{
    margin-right: 10px;
}
i.fas.fa-hands-helping{
    margin-right: 10px;
}

.logo2 p{
    font-family: 'Shrikhand', sans-serif;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: flex-start;
    margin: 10px;
}

/* RESPONSIVE */
/*LARGE*/
@media screen and (max-width: 1366px) {
    .resto{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    section h1, section p{
        text-align: center;
    }
    nav{
        flex-wrap: wrap;
    }
    .choise{
        margin: 15px;
    }
    figure{
        width: 97%;
        margin-bottom: 50px;
    }
    section img{
        height: 350px;
    }
    .logo2{
        display: flex;
        justify-content: center;
    }
    footer a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/*MEDIUM*/
@media screen and (max-width: 800px) {
    .resto{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    section h1, section p{
        text-align: center;
    }
    nav{
        flex-wrap: wrap;
    }
    .choise{
        margin: 15px;
    }
    figure{
        width: 630px;
        margin-bottom: 35px;
    }
    section img{
        height: 275px;
    }
    .logo2{
        display: flex;
        justify-content: center;
    }
    footer a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/*SMALL*/
@media screen and (max-width: 667px) {
    .logo img{
        width: 200px;
    }
    .resto{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    section h1, section p{
        text-align: center;
    }
    nav{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
    }
    figure{
        width: 300px;
    }
    section img{
        height: 200px;
    }
    .choise{
        margin-bottom: 20px;
    }
    footer a{
        margin-left: 10px;
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    
}
/*KEYFRAMES*/

    @keyframes spinneroff{
        0%{
            transform: rotate(360deg);
        }
        100%{
            transform: rotate(0deg);
        }
    }
    @keyframes fadeout{
        0%{
            opacity: 100%;
        }
        100%{
            opacity: 100%;
            visibility: hidden;
        }
    }

    @keyframes animheart{
        0%{
            transform: translateY(1px);
            opacity: 0%;
        }
        100%{
            transform: translateY(0px);
            opacity: 100%;
        }
        
    }